[submodule "external/loadcaffe"]
	path = external/loadcaffe
	url = https://github.com/szagoruyko/loadcaffe
[submodule "external/precisionrecall.torch"]
	path = external/precisionrecall.torch
	url = https://github.com/qassemoquab/precisionrecall.torch
[submodule "external/texfuncs"]
	path = external/texfuncs
	url = https://github.com/qassemoquab/texfuncs
[submodule "external/fbnn"]
	path = external/fbnn
	url = https://github.com/facebook/fbnn
